.loginPage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loginFormButton {
  width: 100%;
}

.resetPasswordButton {
  align-self: flex-end;
}

.testUiButtonResetPassowrd {
  display: flex;
  margin-left: auto;
  margin-bottom: 16px;
}