.loginPage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  & .ant-form-item-label > label {
    width: 100%;
  }
}

.loginFormButton {
  width: 100%;
}

.resetPasswordButton {
  align-self: flex-end;
}